{:output-dir "app/dev/js/out_main", :externs ["app/dev/js/externs.js" "node_modules/closurecompiler-externs/path.js" "node_modules/closurecompiler-externs/process.js" "closure-js/externs"], :elide-asserts true, :optimizations :simple, :warnings true, :output-to "app/dev/js/cljsbuild-main.js", :output-wrapper true, :libs ["closure-js/libs"], :target :nodejs, :pretty-print true}