{:output-wrapper true, :output-dir "app/dev/js/out_front/initial", :externs ["app/dev/js/externs_front.js" "closure-js/externs"], :elide-asserts true, :optimizations :none, :warnings true, :output-to "app/dev/js/front_initial.js", :libs ["closure-js/libs"], :pretty-print true}