{:output-wrapper true, :output-dir "app/prod/js/out_front", :externs ["app/prod/js/externs_front.js" "closure-js/externs"], :elide-asserts true, :optimizations :simple, :warnings true, :output-to "app/prod/js/front.js", :libs ["closure-js/libs"], :pretty-print true}